
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital@1&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 150px auto auto 200px;
    grid-template-areas: 
    "navbar navbar navbar navbar"
    "header header header header"
    "main main main main"
    "footer footer footer footer";

}



.navbar {
    grid-area: navbar;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 53, 122, 0.911);
    border-radius: 5px;
    position: sticky;
    top: 0%;
}

.navbar ul {

    display: flex;
    list-style: none;
    justify-content: center;
}

.navbar ul li {
    padding: 5px;
    margin: 5px;
    

}

.navbar ul li a{
    text-decoration: none;
    color: rgb(0, 184, 184);
    font-size: 12px;
    font-family: "Philosopher:wght";
}

.logo img {
    width: 80px;
    margin-top: 5px;
}

.iconoLogo:hover {
    transform: scale(1.2,1.2);
}

.header {
    grid-area: header;
}
.marca {
    color: rgba(0, 53, 122, 0.911);
    font-size: 40px;
    text-align: center;
    font-family: "Philosopher:wght";
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0, 53, 122, 0.811) 30%, rgb(0, 184, 184) 70.2% );  
} 


.slogan {
    font-size: 20px;
    color: white;
    font-family: "Philosopher:wght"; 
}

.main {
    grid-area: main;
}

.tarjetaInicio {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient( 156.8deg,  rgba(30,144,231,0.500) 27.1%, rgba(67,101,225,0.500) 77.8%);
    margin-bottom: 5px;
    align-items: center;
    color: rgba(0, 53, 122, 0.911) ;
}

.inicioPrincipal {
    text-align: center;
    font-size: 30px;
    font-family: "Philosopher:wght" ;
    font-weight: bolder;
    padding: 10px;
}

.inicioPrincipal img{
    width: 100%;
    align-items: center;
    border-radius: 100px;
}

.inicioSecundario {
    text-align: center;
    font-family: "Philosopher:wght" ;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textoSecundario {
    font-size: 20px;
}


.inicioSecundario h2 {
    font-weight: bolder;
}

.inicioSecundario img {
    width: 150px;
    margin-left: 10px;
}

.btnEstrategia {
    border-radius: 100px;
    background-color: rgba(0, 184, 184, 0.277);;
    color: rgba(0, 53, 122, 0.911) ;
    padding: 10px;
    font-weight: bold;
    border: 3px solid rgba(0, 53, 122, 0.911);
    width: 150px;
    text-transform:uppercase;    
}

.tarjetasMetodox {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Philosopher:wght";
    color: rgba(0, 53, 122, 0.911);
    font-weight: bolder;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin-bottom: 15px;
    background-image: linear-gradient( 156.8deg,  rgba(30,144,231,0.500) 27.1%, rgba(67,101,225,0.500) 77.8%);
}

.metodox { 
    border-radius: 20px;
    width: 80%;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.tituloMetodox{
    font-size: 30px;
    color: white
}

.imagenMetodox {
    width: 40px;
}

.tarjetasProductos {
    display: flex;
    flex-direction: column;
    width: 99%;
    font-family: "Philosopher:wght";
    color: rgba(0, 53, 122, 0.911);
    font-weight: bolder;
    align-items: center;
    margin: 5px;
}

.producto { 
    border-radius: 20px;
    width: 80%;
    border: 3px solid #00b8b83e;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.tituloProducto{
    font-size: 30px;
    color: rgb(0, 184, 184);
}

.imagenProducto {
    width: 50px;

}
.imagenProducto:hover {
    transform: rotate(180deg);
}

.tarjetasNosotros {
    display: flex;
    flex-direction: column;
    width:100%;
    font-family: "Philosopher:wght";
    color: rgba(0, 53, 122, 0.911);
    font-weight: bolder;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-image: linear-gradient( 156.8deg,  rgba(30,144,231,0.500) 27.1%, rgba(67,101,225,0.500) 77.8%);
    border-bottom: 10px ridge rgba(0, 53, 122, 0.911);
}
.tarjetasNosotros1 {
    width:100%;
    font-family: "Philosopher:wght";
    color: rgba(0, 53, 122, 0.911);
    font-weight: bolder;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-bottom: 10px ridge rgba(0, 53, 122, 0.911);
    font-size: 25px;
}

.nosotros { 
    width: 95%;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.tituloNosotrosPrincipal{
    font-size: 50px;
    color: rgba(0, 53, 122, 0.911);
    height: 200px;
    background-image: url(../Img/ciudad\ geometrica.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.tituloNosotros{
    font-size: 30px;
    color: white
}

.imagenNosotros {
    width: 40px;
}

.queresSerParte {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Philosopher:wght";
    color: rgba(0, 53, 122, 0.911); 
    font-weight: bolder;
    gap: 15px;
    padding: 10px;
    margin-bottom: 15px ;
}

.queresSerParte h4{
    font-size: 25px;
    font-weight: bolder;
    align-items: center;
    color: rgb(0, 184, 184);
}

.queresSerParte p {
    text-align: center;
    width: 95%;
}

.tituloContacto {
    color: rgba(0, 53, 122, 0.911);
    font-size: 30px;
    font-family: "Philosopher:ital";
    text-align: center;
    padding: 10px;
    margin-top: 10px;

}

.tarjetaForm {
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin: 30px;
    border-radius: 30px; 
}

.imagenForm img {
    width: 200px;
}
    
.formTransf:hover {
        transform:translate(20px,0)
}

.form {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px;
    border: 3px solid #00b8b83e;
    border-radius: 30px;
    margin-top: 20px;

}


.formTitulo {
    text-align: center;
    font-size: 20px;
    color: white;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0, 53, 122, 0.811) 30%, rgb(0, 184, 184) 70.2% ); 
    margin: 15px;
    border-radius: 15px;
}

.casilleros {
    margin: 10px;
    padding: 10px;
}

.comentarios {
    text-align: center;
    font-size: 10px;
    margin: 20px;
    font-family: monospace;
    margin: 5px;
    padding: 5px;
}

.btn {
    border-radius: 10px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0, 53, 122, 0.811) 30%, rgb(0, 184, 184) 70.2% );
    color: white;
    padding: 10px;
    font-weight: bold;
    border: 1px solid rgba(0, 53, 122, 0.911);
    margin: 10px;
}


.contactoWhatsapp {
    display: flex;
    justify-content: center;
}


.btnWhatsapp {
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
    border: none;
    background-color: rgba(0, 53, 122, 0.911) ;
    color: rgba(0, 184, 184) ;
    font-size: 20px;
    font-family: "Philosopher:wght" ;
    font-weight: bold;  
}


.footer {
    grid-area: footer;
    width: 100%;
    background-color: rgba(0, 53, 122, 0.911);
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;  
}

.footer h5 {
    color: rgb(0, 184, 184);
    font-size: 10px;
}


.redes img {
    width: 40px;
    padding: 7px;
}

@media (min-width:768px) {

    .container {
        grid-template-rows: 90px auto auto 90px;
    }
    .navbar {
        justify-content: space-between;
        flex-direction: row;
    }
    .navbar ul li {
        padding: 8px;
        margin: 8px;
    }
    .navbar ul li a{
        font-size: 20px;
    }
    .footer {
        justify-content: space-evenly;
        flex-direction: row;
        gap: 0px;
    }
    .footer h5 {
        font-size: 15px;
    }

    .redes img {
        width: 50px;
        padding:9px;
    }    
    .logo img {
        margin-left: 20px;
    }
    .marca {
        font-size: 50px;
    }   
    
    .slogan {
        font-size: 25px;
    }
    .textoSecundario {
        font-size: 30px;
    }

    .tarjetaForm {
        flex-direction: row;
        justify-content:space-around;
    }    
    .form {
        width: 40%;
    }

    .formTitulo {
        font-size: 20px;
    }
    .imagenForm img {
        width: 300px;    
    }
    .tituloContacto {
        font-size: 30px;
    }
    .tarjetasProductos {
        display: flex;  
        flex-direction: row;  
        justify-content: space-around;
        margin: 7px;
        flex-wrap: wrap;
        
    }
    .producto {
        width: 40%;
        height: 250px;
    }
    
    .tituloProducto{
        font-size: 40px;
    }

    .tarjetasNosotros {
        flex-direction: row;
        justify-content: center;  
    }

    .tituloNosotros{
        font-size: 40px;
    }
    
    .imagenNosotros {
        width: 80px;
    }
    .tituloNosotrosPrincipal{
        font-size: 70px;
        color: rgba(0, 53, 122, 0.911);
        height: 300px;
    }
    

  
}

@media (min-width:1200px) {

    .navbar {
        justify-content: space-between;
        flex-direction: row;
    }
    .navbar ul li {
        padding: 10px;
        margin: 10px;
    }
    .navbar ul li a{
        font-size: 25px;
    }
    .logo img {
        margin-left: 40px;
    }
    .marca {
        font-size: 80px;
    }   
    
    .slogan {
        font-size: 40px;
    }
    
    .inicioPrincipal img{
        border-radius: 300px;
    }
    
    .inicioSecundario {
        padding: 20px;
        margin: 20px;
        flex-direction: row;
    }
    
    .inicioSecundario img {
        width: 300px;
        margin-left: 10px;
    }

    .textoSecundario {
        font-size: 40px;
    } 
    .form {
        width: 50%;
    }

    .formTitulo {
        font-size: 40px;
    }
    .imagenForm img {
        width: 500px;    
    }
    .tituloContacto {
        font-size: 50px;
    }
    .footer h5 {
        font-size: 20px;
    }

    .redes img {
        width: 40px;
        padding: 5px;
    }    

    .producto {
        width: 40%;
        height: 200px;
        align-items: center;
    }
    
    .tituloProducto{
        font-size: 50px;
    }

    .tituloNosotrosPrincipal{
        height: 400px;
    }
    
}